<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TTCSDL_Module_4.Properties.Settings.N01_T5_QuanLyBanHangDienMayConnectionString"
            connectionString="Data Source=DESKTOP-FK7IAI2\SQLEXPRESS;Initial Catalog=N01_T5_QuanLyBanHangDienMay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>